
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://putiya.com/img/sport/soccer01/soccer01_a_09.png') no-repeat center center fixed;
    background-size: contain;
    background-position: center;
     }
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color:rgb(194, 255, 101);
}

#start-screen, #quiz-container {
text-align: center;
}

.hidden {
display: none;
}

button {
margin: 10px;
padding: 10px;
font-size: 16px;
cursor: pointer;
}
#question {
font-size: 16px;
font-weight: bold;
}

#options button {
font-size: 16px;
font-weight: bold;
}

#result {
font-size: 16px;
font-weight: bold;
}