.title{
    font-size: xx-large;
    text-align: center;
}
.main{
    text-align: center;
}
.main img{
    width: 300px;
    vertical-align: middle;
}
.main button{
    font-size: 24px;
}
.thumbnails{
    opacity: 0ï¼Ž5;
    text-align: center;
}
.thumbnails img{
    width: 50px;
}